---
import HomeLayout from "../layouts/HomeLayout.astro";
import NewReminderButton, { Width } from "../components/shared/NewReminderButton.astro";
import BigCalendar from "../components/reminders/BigCalendar.astro";
import ConfirmationPopup from "../components/reminders/ConfirmationPopup.astro";
import SmallReminderView from "../components/reminders/SmallReminderView.astro";
import BigReminderView from "../components/reminders/BigReminderView.astro";
import data from "../static/js/dataTarea.json";

const tareas = data.tareas;

---
<head>
  <link rel="stylesheet" href="/src/styles/smallreminder.css" />  
</head>

<HomeLayout title="Reminders - LeanMind">
  <div class="reminder__container">
    <section class="reminder-header__section">
      <div class="reminder-top-header">
        <div class="reminder-text__container">
          <h1>Mis Recordatorios</h1>
          <span>Que no se te pase ninguna tarea</span>
        </div>
        <NewReminderButton width={Width.SMALL} bold={false} dark={false} height={36} />
      </div>
      <div class="reminder-bottom-header">
        <div class="reminder-bottom-header-left">
          <img src="./icons/eye.svg" alt="eye-icon">
          <span>Vista</span>
          <button class="filter-button" data-filter="todas">
            <img src="./icons/boxes.svg" alt="boxes-icon">Todas
          </button>
          <button class="filter-button" data-filter="pendiente">
            <img src="./icons/boxes.svg" alt="boxes-icon">Pendientes
          </button>
          <button class="filter-button" data-filter="completada">
            <img src="./icons/boxes.svg" alt="boxes-icon">Completadas
          </button>
          <button class="filter-button" data-filter="archivada">
            <img src="./icons/boxes.svg" alt="boxes-icon">Archivadas
          </button>
        </div>
      </div>
    </section>

    <section class="reminder-body__section">
      <div class="reminder-body-header">
        <!-- <span class="reminder-body-header-title">Mensualmente</span> -->
        <div class="reminder-body-controls">
          <div class="arrow-buttons">
            <button id="prev-button"><img src="./icons/arrow-left.svg" alt="arrow-left-icon"></button>
            <button id="next-button"><img src="./icons/arrow-right.svg" alt="arrow-right-icon"></button>
          </div>
          <button class="yesterday-button" id="yesterday-button"></button>
          <div class="full-control">
            <span></span>
            <span id="current-month"></span>
            <div class="full-control-right">
              <div class="arrow-buttons">
                <button><img src="./icons/arrow-left.svg" alt="arrow-left-icon"></button>
                <button><img src="./icons/arrow-right.svg" alt="arrow-right-icon"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reminder-body">
        <!-- <BigCalendar /> -->
        
        <div class="paginate-items">
          <ul id="paginated-list" data-current-page="1" aria-live="polite">
            <!-- <BigReminderView /> -->
            <ConfirmationPopup />
            <div id="tareas-container" class="parent">
              <!-- {tareas.map(tarea => (
                <li data-estado={tarea.estado}>
                  <SmallReminderView
                    taskName={tarea.titulo}
                    status={tarea.estado}
                    numberParticipants={tarea.email_responsables.length}
                    hourTask={tarea.hora}
                  />
                </li>
              ))} -->
            </div>
          </ul>
         
        </div>
       <nav class="pagination-container">
          <button 
            class="pagination-button" 
            id="prev-pagination" 
            aria-label="Previous page" 
            title="Previous page"
          >&lt;
          </button>
          <div id="pagination-numbers" class="paginate-number"></div>
        
          <button 
            class="pagination-button" 
            id="next-pagination" 
            aria-label="Next page" 
            title="Next page"
          >&gt;
          </button>
        </nav>

      </div>
    </section>
  </div>
</HomeLayout>

<script type="module" is:inline src="/src/utils/paginationScript.js"></script>
<script type="module" is:inline src="/src/utils/filterTasks.js"></script>

<script>  

import { currentDateState, currentMonthState } from '../stores/store'

  const monthNames = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];

  const prevButton = document.getElementById('prev-button') as HTMLButtonElement
  const nextButton = document.getElementById('next-button') as HTMLButtonElement
  const currentMonth = document.getElementById('current-month') as HTMLElement
  const currentYear = document.getElementById('yesterday-button') as HTMLElement

  prevButton.addEventListener('click',()=>{
    currentMonthState.set(currentMonthState.get() - 1)
  })

  nextButton.addEventListener('click',()=>{
    currentMonthState.set(currentMonthState.get() + 1)
  })

  currentMonthState.subscribe(()=>{
    console.log(currentMonthState.get())
    console.log(monthNames[currentMonthState.get()])
    currentYear.textContent = currentDateState.get().getFullYear().toString();
    currentMonth.textContent = monthNames[currentMonthState.get()]
  })

</script>

<style>
  .paginate-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .parent {
    display: grid;
    grid-template-columns:
    repeat(3, 1fr);
    grid-template-rows:
    repeat(3, 1fr);
    gap: 30px;
  }
  .hidden {
    display: none;
  }
  .pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .pagination-number,
  .pagination-button{
    font-size: 20px;
    background-color: #eaf1f2;
    /* background-color: transparent; */
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
    color: #1D5A61;
  }
  .pagination-number:hover,
  .pagination-button:not(.disabled):hover {
    background: #fff;
  }
  .pagination-number.active {
    color: #423d3d;
  }
  ul {
    list-style-type: none;
  }
  .paginate-number {
    margin-left: 15px ;
    margin-right: 15px;
    width: 50%;
    height: 40px;
  }
  #pagination-numbers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
    gap: 5px;
  }
</style>