---
import HomeLayout from "../layouts/HomeLayout.astro";
import NewReminderButton, { Width } from "../components/shared/NewReminderButton.astro";
import SmallReminderView from "../components/reminders/SmallReminderView.astro";
// import BigReminderView from "../components/reminders/BigReminderView.astro";
import data from "../static/js/dataTarea.json";

const tareas = data.tareas;

---
<HomeLayout title="Reminders - LeanMind">
  <div class="reminder__container">
    <section class="reminder-header__section">
      <div class="reminder-top-header">
        <div class="reminder-text__container">
          <h1>Mis Recordatorios</h1>
          <span>Que no se te pase ninguna tarea</span>
        </div>
        <NewReminderButton width={Width.SMALL} bold={false} dark={false} height={36} />
      </div>
      <div class="reminder-bottom-header">
        <div class="reminder-bottom-header-left">
          <button class="filter-button active" data-filter="todas">
            <img src="./icons/eye.svg" class="icon" alt="boxes-icon">Todo
          </button>
          <button class="filter-button" data-filter="pendiente">
            <img src="./icons/icon-clock.svg" class="icon" alt="boxes-icon">Pendiente
          </button>
          <button class="filter-button" data-filter="completada">
            <img src="./icons/checklist.svg" class="icon" alt="boxes-icon">Completado
          </button>
          <button class="filter-button" data-filter="archivada">
            <img src="./icons/icon-archive.svg" class="icon" alt="boxes-icon">Archivado
          </button>
        </div>
      </div>
    </section>

    <section class="reminder-body__section">
      <div class="reminder-body-header">
        <div class="reminder-body-controls">
          <div class="arrow-buttons">
            <button id="prev-button"><img src="./icons/arrow-left.svg" alt="arrow-left-icon"></button>
            <button id="next-button"><img src="./icons/arrow-right.svg" alt="arrow-right-icon"></button>
          </div>
          <button class="yesterday-button" id="yesterday-button"></button>
          <div class="full-control">
            <span></span>
            <span id="current-month"></span>
            <div class="full-control-right">
              <div class="arrow-buttons">
                <button><img src="./icons/arrow-left.svg" alt="arrow-left-icon"></button>
                <button><img src="./icons/arrow-right.svg" alt="arrow-right-icon"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reminder-body">
        <div class="paginate-items">
          <ul id="paginated-list" data-current-page="1" aria-live="polite">
            <!-- <BigReminderView /> -->
            <div id="tareas-container" class="parent">
              {tareas.map(tarea => (
                <li data-estado={tarea.estado}>
                  <SmallReminderView
                    taskName={tarea.titulo}
                    status={tarea.estado}
                    numberParticipants={tarea.email_responsables.length}
                    hourTask={tarea.hora}
                  />
                </li>
              ))}
            </div>
          </ul>
         
        </div>
      </div>
    </section>
  </div>
</HomeLayout>

<script type="module" is:inline src="/src/utils/paginationScript.js"></script>
<script type="module" is:inline src="/src/utils/filterTasks.js"></script>

<script>  

import { currentDateState, currentMonthState } from '../stores/store'

  const monthNames = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];

  const prevButton = document.getElementById('prev-button') as HTMLButtonElement
  const nextButton = document.getElementById('next-button') as HTMLButtonElement
  const currentMonth = document.getElementById('current-month') as HTMLElement
  const currentYear = document.getElementById('yesterday-button') as HTMLElement

  prevButton.addEventListener('click',()=>{
    currentMonthState.set(currentMonthState.get() - 1)
  })

  nextButton.addEventListener('click',()=>{
    currentMonthState.set(currentMonthState.get() + 1)
  })

  currentMonthState.subscribe(()=>{
    currentYear.textContent = currentDateState.get().getFullYear().toString();
    currentMonth.textContent = monthNames[currentMonthState.get()]
  })

</script>

<style>
  .paginate-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .parent {
    display: grid;
    grid-template-columns:
    repeat(3, 1fr);
    grid-template-rows:
    repeat(3, 1fr);
    gap: 30px;
  }
  .hidden {
    display: none;
  }
  ul {
    list-style-type: none;
  }
 
</style>